div.bl-panel-items > div {
  background: #fff;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 99999;
  background: rgba(255, 255, 255, 0.97);
}
.dark #preloader {
  background: rgba(0, 0, 0, 0.97);
}
#preloader .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog article {
  text-align: left;
}

/* Hover */

/* Hide every HTML inside #bl-work-items .col a that would render outside*/
#bl-work-items .col a {
  overflow: hidden;
}
/*Animate overlay and move it 'above'*/
#bl-work-items .col a .valign-wrapper {
  transform: translate3d(-100%, 0, 0);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Mouse enter event */
#bl-work-items .col a.mouseenter.top .valign-wrapper {
  animation-name: slide--enter-top;
}
#bl-work-items .col a.mouseenter.right .valign-wrapper {
  animation-name: slide--enter-right;
}
#bl-work-items .col a.mouseenter.bottom .valign-wrapper {
  animation-name: slide--enter-bottom;
}
#bl-work-items .col a.mouseenter.left .valign-wrapper {
  animation-name: slide--enter-left;
}

/* Mouse leave event */
#bl-work-items .col a.mouseleave.top .valign-wrapper {
  animation-name: slide--leave-top;
}
#bl-work-items .col a.mouseleave.right .valign-wrapper {
  animation-name: slide--leave-right;
}
#bl-work-items .col a.mouseleave.bottom .valign-wrapper {
  animation-name: slide--leave-bottom;
}
#bl-work-items .col a.mouseleave.left .valign-wrapper {
  animation-name: slide--leave-left;
}

/* Sliding animations ! */
@keyframes slide--enter-top {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes slide--enter-right {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes slide--enter-bottom {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes slide--enter-left {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes slide--leave-top {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes slide--leave-right {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slide--leave-bottom {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes slide--leave-left {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

/**
 * BASIC CSS FOR DEMO PURPOSE
 */

#bl-work-items {
  /* width: 800px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#bl-work-items .col a {
  background-color: #4472c4;
  position: relative;
  display: flex;
  flex: 1 1 30%;
  align-items: center;
  justify-items: center;
}

.content {
  flex: 1;
  text-align: center;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f08080;
  text-align: center;
}
